<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="budgeting.ui.views.summary.SummaryView"
            id="budgeting.ui.views.summary"
            name="Summary"
            restorable="true">
      </view>
   </extension>

</plugin>
